body {
    background-color: black;
    color: white;
}

ol{
  list-style-type: none;
  padding: 2px;
}
li{
  padding: 2px;
}
#question{
  font-size: 35px;
}
#ans{
  font-size: 35px;

}
a{
  text-decoration: none;
  color: orange;

}

a:hover{
  color: yellow;
}
